{% extends 'src/templates/layout.twig' %}

{% block main %}
  {% include 'src/templates/blocks/catalog.twig' with catalog %}
  {% include 'src/templates/blocks/catalog-additional.twig' with additional %}

  <section class="subscription">
    <div class="container">
      <h2 class="subscription__title">Акции и новинки</h2>
      <p class="subscription__text">
        Подпишитесь на наши новости и не пропустите ни одного предложения!
      </p>
      <form class="subscription__form" action="https://echo.htmlacademy.ru">
        <label for="email" aria-label="E-mail">
          <input
            class="subscription__mail field"
            id="email"
            name="email"
            type="email"
            value="кuklachev@gmail.com"
            required
          >
        </label>
        <button class="subscription__button button button--big" type="submit">
          Подписаться
        </button>
      </form>
    </div>
  </section>
{% endblock %}
